table {
  width: 100%;
}

td,
th.mat-header-cell {
  text-align: center;
}

.original {
  color: white;
}

.modified {
  color: goldenrod;
}

.updated {
  color: green;
}

.viewing {
  color: indigo;
}
