footer {
  background-color: #212121;
}

.logo {
  width: 3em;
  height: 3em;
  margin: 2em;
}

img {
  width: 3em;
  height: 3em;
}

.logo-container {
  justify-content: center;
}

.footerElement {
  display: flex;
  justify-content: center;
  flex: 1;
}
