@import "../../../global";

:host {
  .row {
    display: inline-flex;
  }

  .descriptionProcessing {
    display: flex;
    color: $color-light-white;
  }

  mat-spinner {
    margin-top: 10px;
  }

  .mat-spinner circle {
    stroke: #c2185b;
  }
}
