<p>login works!</p>
<p>You are redirected from {{ returnUrl }}</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="username" [formControlName]="'username'" />
  <div
    *ngIf="
      loginForm.get('username').touched &&
      loginForm.get('username').errors?.required
    "
  >
    Username is required
  </div>
  <input
    type="password"
    placeholder="password"
    [formControlName]="'password'"
  />
  <div
    *ngIf="
      loginForm.get('password').touched &&
      loginForm.get('password').errors?.required
    "
  >
    Password is required
  </div>

  <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  {{ loginForm.get("username").dirty }}
</form>
