<div class="element">
  <h1>{{ "home.course" | translate }}</h1>

  <h3>{{ "home.requirements" | translate }}</h3>
  <dl>
    <dt>API</dt>
    <dd>- {{ "home.using-the" | translate }}'reqres.in'</dd>
    <dt>Auth. system</dt>
    <dd>- {{ "home.auth-system-text" | translate }}</dd>
    <dt>{{ "home.pagination" | translate }}</dt>
    <dd>
      {{ "home.ang-mat-pagination-text" | translate }}
    </dd>
  </dl>

  <h3>Navigation:</h3>
  <dl>
    <dt>Pages</dt>
    <dd>
      - /home :
      <span>{{ "home.home-text" | translate }}</span>
    </dd>
    <dd>
      - /users :
      <span>{{ "home.user-text" | translate }}</span>
    </dd>

    <dd>
      &emsp;- /users/:id :
      <span>{{ "home.user-id-text" | translate }}</span>
    </dd>
    <dd>
      - /login :
      <span>{{ "home.login-text" | translate }}</span>
    </dd>
    <dd>
      - /register :
      <span>{{ "home.register-text" | translate }}</span>
    </dd>
    <dd>
      - /** :
      <span>{{ "home.wildcart-text" | translate }}</span>
    </dd>
  </dl>

  <h3>{{ "typescript-skills" | translate }}</h3>
  <dl>
    <dt>Enums</dt>
    <dd>- {{ "home.enums-text" | translate }}</dd>
    <dt>Generics</dt>
    <dd>- {{ "home.generic-text" | translate }}</dd>
  </dl>

  <h3>RxJs</h3>
  <dl>
    <dt>BehaviorSubject</dt>
    <dd>
      {{ "home.behavior-subject-text" | translate }}
    </dd>
  </dl>

  <h3>Angular</h3>
  <dl>
    <dt>Directive</dt>
    <dd>
      {{ "home.directive-text" | translate }}
    </dd>
    <dt>{{ "home.ve-title" | translate }}</dt>
    <dd>
      {{ "home.ve-text" | translate }}
    </dd>
  </dl>

  <dl>
    <dt>Change Detection</dt>
    <dd>
      {{ "home.cd-text" | translate }}the user-list is using the OnPush
      detection
    </dd>
  </dl>

  <dl>
    <dt>Interceptors</dt>
    <dd>
      {{ "home.interceptors-text" | translate }}interceptors are used HTTP
      errors and HTTP header to send the token
    </dd>
  </dl>

  <dl>
    <dt>Translations</dt>
    <dd>{{ "home.translations-text" | translate }}</dd>
    <dd>{{ "home.translations-text2" | translate }}</dd>
  </dl>
</div>
