img {
  width: 64px;
  height: 64px;
}

.mat-card-avatar {
  border-radius: 0%;
}

.mat-card-image {
  margin: 0;
}

.header {
  padding-top: 20px;
}

.content {
  padding: 20px;
}

.avatar {
  padding: 0 10px 0 20px;
}
