.formError {
  color: #8e1600;
}
.submitButton {
  margin-left: 1em;
}

.loginForm {
  margin-bottom: 1em;
}

.divider {
  margin-bottom: 1em;
}

.redirectionUrl {
  color: #29ab87;
}

.icon {
  margin-right: 1em;
}
