@import "../../../global";

.formError {
  color: $color-dark-red;
}

.loginForm {
  margin-bottom: 1em;
}

.divider {
  margin-bottom: 1em;
}

.redirectionUrl {
  color: $color-deep-green;
}

.icon {
  margin-right: 1em;
}

.log-btn {
  margin-right: auto;
}
