@import "../../../../global";
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

:host {
  .row {
    display: inline-flex;
  }

  .descriptionProcessing {
    display: flex;
    color: $color-light-white;
  }

  mat-spinner {
    margin-top: 10px;
  }
}
